@import "tailwindcss";

/* OpenLayers CSS (из node_modules) */
@import "ol/ol.css";

/* Настройка путей контента */
@source "../../views/**/*.erb";
@source "../../javascript/**/*.js";
@source "../../../public/*.html";
@source "../../../app/helpers/**/*.rb";
@source "../../../app/components/**/*.{rb,erb,html}";

@theme {
  --color-primary: #0288D1;
  --color-secondary: #26A69A;
  --color-accent: #FF5722;
  --color-error: #D32F2F;
  --color-warning: #FFA000;
  --color-info: #0288D1;
  --color-success: #388E3C;
  --color-text: #fafafa;

}

@layer base {
  a, button, label, input, select, li, .cursor-pointer {
    cursor: pointer;
  }
}
